<?xml version="1.0" encoding="utf-8"?>
<extension version="3.7" type="plugin" group="pixpublish" method="upgrade">
    <name>plg_pixpublish_module</name>
    <author>Joomlashack</author>
    <creationDate>July 10 2019</creationDate>
    <copyright>Copyright 2018-2019 Joomlashack.com. All rights reserved</copyright>
    <license>GNU General Public License version 2 or later; see LICENSE.txt</license>
    <authorEmail>help@joomlashack.com</authorEmail>
    <authorUrl>https://www.joomlashack.com</authorUrl>
    <version>1.2.4b1</version>
    <description>TODO</description>

    <files>
        <file plugin="module">module.php</file>
        <folder>language</folder>
        <folder>form</folder>
        <folder>media</folder>
    </files>

    <config>
        <fields name="params">
            <fieldset name="basic">
                <field name="background_colour"
                       type="color"
                       label="PLG_PIXPUBLISH_MODULE_CONFIG_BACKGROUND_COLOUR"/>
            </fieldset>
        </fields>
    </config>
</extension>
